[alias]
    d   = diff
    pl  = pull
    ps  = push
    f   = fetch
    m   = merge
    cl  = clone
    b   = branch
    c   = commit
    rb  = rebase
    rl  = reflog
    r   = remote
    s   = status
    co  = checkout
    fp  = fetch -p
    ba  = branch -a
    bd  = branch -d
    bD  = branch -D
    sp  = stash pop
    sh  = stash push
    ap  = add --patch
    cob = checkout -b
    cp  = cherry-pick
    dc  = diff --cached
    pr  = pull --rebase
    rbs = rebase --skip
    sa  = submodule add
    a   = commit --amend
    pd  = push origin -d
    pb  = push -u origin
    rbi = rebase -i @{u}
    com = checkout master
    rmc = rm -r --cached .
    rbc = rebase --continue
    pom = push origin master
    pt  = push origin --tags
    rch = reset --hard HEAD^
    rcs = reset --soft HEAD^
    l   = log --pretty=custom
    rom = rebase origin master
    ac  = "!git add -A && git c"
    rum = rebase upstream master
    pf  = push --force-with-lease
    mn  = merge --no-commit --no-ff
    i   = update-index --assume-unchanged
	su  = submodule update --init --recursive
    dfs = diff --staged --ws-error-highlight=new,old
    g   = log --oneline --graph --decorate --pretty=custom
    df  = diff --color-words=. --ws-error-highlight=new,old

[color "branch"]
    local = green
    remote = yellow
    current = green bold

[color "diff"]
    old = red
    new = green
    meta = yellow
    frag = magenta

[color "status"]
    added = green reverse
    untracked = red reverse
    changed = yellow reverse

[commit]
    gpgsign = true

[core]
    eol = lf
    abbrev = 12
    editor = hx
    pager = delta
    autocrlf = false
    excludesfile = ~/.gitignore

[delta]
    light = false
    navigate = true

[diff "bin"]
    textconv = hexdump -v -C

[init]
    defaultBranch = main

[interactive]
    diffFilter = delta --color-only

[merge]
    conflictstyle = diff3

[pretty]
    custom = "%C(magenta)%h%C(red)%d %C(yellow)%ar %C(green)%s %C(yellow)(%an)"
    #                     │        │            │            │             └─ author name
    #                     │        │            │            └─ message
    #                     │        │            └─ date (relative)
    #                     │        └─ decorations (branch, heads or tags)
    #                     └─ hash (abbreviated)

[push]
    followTags = true

[user]
	name = Jora Troosh
	email = tensorush@gmail.com
